<!DOCTYPE html>
<html>
    <head>
      
    </head>
    <div>
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script>
            var order='<%=order%>'
            var stripekey='<%= stripePublicKey%>';
            var weight=order.weight;
            var charge='<%= charge %>';
        </script>
        <script src="pay.js" defer></script>
    </div>
</html>